
.hero-image video {
    width: 100%;
    height: auto;
}

.social-links {
    margin-top: 20px;
    text-align: center;
}


.social-links a {
    font-size: 24px;
    margin: 0 10px;
}

.subscription-form input {
    width: 50%;
    margin-bottom: 10px;
    
}

footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    color: #333;
}

footer h5 {
    margin-bottom: 20px;
    font-size: 1.25rem;
}

footer ul.nav.flex-column {
    padding-left: 0;
}

footer ul.nav.flex-column li.nav-item {
    margin-bottom: 10px;
}

footer form {
    margin-bottom: 20px;
}

footer .d-flex.flex-column.flex-sm-row {
    align-items: center;
}

footer .list-unstyled.d-flex li {
    margin-left: 10px;
}

footer .link-body-emphasis {
    color: #333;
}

footer .link-body-emphasis:hover {
    color: #007bff;
}
.main-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: calc(33.33% - 20px); /* Adjust width for responsiveness */
}

.card-img-top {
    width: 100%;
    height: 200px; /* Adjust height as needed */
    object-fit: cover;
}

.card-body {
    padding: 10px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #666;
}


@media (max-width: 768px) {
    .hero-image {
        height: 300px;
    }
}

